html, body {
  margin: 0;
  padding: 0;
  background: #e79cfa;
}
canvas {
  display: block;
}
p{
   background-color: pink;
  text-align: center;
  outline: thick ridge MidnightBlue;
  margin: 10px;
}
button{
  outline: thick ridge green;
}
}